{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Sign in
{% endblock %}

{% block content %}
  <div class="container">
    <br>
    <h1 class="product_title text-center">
      כניסה או יצירת משתמש
    </h1>
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-6 text-center custom_div">
        <br>
        <h2 class="product_title">
          משתמש חדש
        </h2>
        <br>
        <p>מתי שיוצרים משתמש ניתן לראות את כל היטרואת הרכישות</p>
        <br>
        <a href="{% url 'signup' %}" class="btn btn-secondary">יצירת חשבון חדש</a>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 bg-light">
        <div>
          <br>
          <h2 class="product_title">
            משתמשים רשומים
          </h2>
          <form method="post">
            {% csrf_token %}
            <p>{{ form | crispy }}</p>
            <button type="submit" name="button" class="btn btn-secondary">כניסה</button>
          </form>
          <br>
        </div>
      </div>
    </div>
    <br>
  </div>
  <br>
{% endblock %}
